@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.cabecalho__logo_color {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

.cabecalho__logo {
    color: #ff0000;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}


.cabecalho__menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.cabecalho__menu_link {
    color: #F6F6F6;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}

.titulo-destaque{
    color: #fd2222;
}

.apresentacao{
    padding:  5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__foto img {
    max-width: 430px;
    height: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: #ff0000 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    background-color: #272727;
    border-radius: 40px;
    padding:5%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    background-color: #272727;
    display: flex;
    padding:7%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #fd2222;
    width: 378px;
    text-align: center;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #fd2222;
    padding: 4%;
    cursor: pointer;
}

.footer__estilo {
    padding: 15px 40px;
    text-align: center;
    background-image: linear-gradient(to right, #272727, #000000);
    padding: 15px 40px;
}

